<!-- BEGIN ABOUT  -->
<section id="about">
  <div class="section-wrapper">
    <div class="section-title">
        <h2 class="title animatez" data-effect="fadeInDown">About</h2>
        <h4 class="subtitle animatez" data-effect="fadeInUp">
          There is no doubt art can have strong <span class="main-color">healing powers</span> for many patients
        </h4>
    </div>
    <hr class="title-break">
    <div class="section-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-6 animatez" data-effect="fadeInUp">
            <img src="images/bird.png">
          </div>
          <div class="col-md-6 animatez" data-effect="fadeInUp">
            <h5 style="text-align: left;"><strong>A Free Bird&trade;</strong></h5>
            <p style="text-align: left;">
               A non-profit arts organization dedicated to helping young people, ages 4-18, affected by cancer, fight their disease through the therapeutic benefits of the arts. We provide the artistic resources to hospitals and their patients so these kids can express their ideas and passions, while they go through their treatments! Born out of the discovery of the overwhelming power of artistic energy experienced first-hand by president and founder and singer/songwriter Godni Amir Liteman. When Godni’s voice teacher decided to give up the majority of her pupils to be her husband’s primary caregiver after he was diagnosed with cancer Godni was kept as her sole student and brought joy through his singing. Soon she was also diagnosed with cancer. Godni was kept as his teacher’s sole student and brought hope to the family through singing.
              <a href="#">Learn more &rarr;</a>
            </p>
            <div class="spacer big"></div>
            <h5 style="text-align: left;"><strong>Our Mission</strong></h5>
            <p style="text-align: left;">
              We are committed to helping every youngster develop the strength and willpower to fight their disease. Cancer is a physical disease that can sap the energy of some of the strongest children. We are committed to helping them keep their spirits strong and never lose hope for their future.  All art forms are empowering and we believe we can help the doctors and nurses help these kids.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer big"></div>
    <div class="section-fill bg-parallax bg-about" style="background:url('images/bg-about.jpg');">
      <div class="fill-wrapper">
        <div class="section-title">
          <h2 class="title white animatez" data-effect="fadeInDown">Donation</h2>
          <h4 class="subtitle animatez" data-effect="fadeInUp">
            <span class="main-color">Your contribution makes a difference</span>
          </h4>
          <div class="spacer medium"></div>
          <a href="javascript:;" class="btn-outline white animatez" data-effect="fadeIn">Contribute Now&nbsp;&nbsp;&rarr;</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END ABOUT -->
