<!-- BEGIN CONTACT -->
<section id="contact">
  <div class="section-wrapper">
    <div class="section-title">
      <h2 class="title animatez" data-effect="fadeInDown">CONTACT US</h2>
      <h4 class="subtitle animatez" data-effect="fadeInUp">Don't hesitate to get in touch with us.
          <br/>We would love to discuss on your project</h4>
    </div>
    <hr class="title-break">
    <div class="section-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mg-sm animatez" data-effect="fadeIn">
            <form role="form" class="text-left">
                <div class="form-group">
                    <label for="inputEmail1">Email address*</label>
                    <input type="email" class="form-control" id="inputEmail1" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputText1">Name*</label>
                    <input type="text" class="form-control" id="inputText1" placeholder="">
                </div>
                <div class="form-group">
                    <label for="textArea1">Message*</label>
                    <textarea id="textArea1" class="form-control" rows="6"></textarea>
                </div>
                <div class="spacer small"></div>
                <button type="submit" class="btn btn-lg btn-dark btn-default">Submit</button>
            </form>
          </div>
          <div class="col-md-6 mg-sm text-left animatez" data-effect="fadeIn">
            <h4>Get to know us</h4>
            <p>
              At vero eos et accusamus et iusto odios un dignissimos ducimus qui blan ditiis prasixer esentium voluptatum un deleniti atqueste sites excep turiitate non providentsimils.
            </p>
            <div class="spacer small"></div>
            <h4>
              <strong>Rindu Office</strong>
            </h4>
            <p>
              133 Elizabethstreet
              <br>Mirror City 4000
              <br>Srandakan
            </p>
            <p>
              088 2789 92 29
              <br>
              <a href="mailto:#">support@rindu.kamu</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer big"></div>
  </div>
</section>
<!-- END CONTACT -->
