<!-- BEGIN HOME VIDEO -->
<div class="home-wrapper">
  <div class="content-home-wrapper text-center">
    <div class="header-center fade-in">
      <h1>
        <span>A Free Bird&trade;</span>
      </h1>
      <p>Helping young people affected by cancer fight their disease through the therapeutic benefits of the arts</p>
      <p><a class="sscroll slider-more" href="#about"><i class="fa fa-angle-down"></i></a></p>
    </div>
  </div>
  <div class="fullfilter"></div>
  <div class="home-video"></div>
</div>
<!-- END HOME VIDEO -->
