<!-- BEGIN SERVICES -->
<section id="services">
  <div class="section-wrapper">
    <div class="section-title">
      <h2 class="title animatez" data-effect="fadeInDown">Services</h2>
      <h4 class="subtitle animatez" data-effect="fadeInUp">
        Empowering each bird to <span class="main-color">fly free</span>
      </h4>
    </div>
    <hr class="title-break">

    <!-- start section-inner -->
    <div class="section-inner">
      <div class="container">
        <!-- start row -->
        <div class="row">
          <!-- LEFT ICON -->
          <div class="col-md-4 mg-sm animatez" data-effect="fadeInUp">
            <div class="left-icon">
              <div class="icon">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="left-content">
                <h4>
                  <strong>Non-profit</strong>
                </h4>
                <p>A ​Free Bird&trade; ​is a non­-profit <span class="main-color">arts education organization</span>. We are looking for enthusiastic individuals who are interested in the arts, therapy, and helping children to make a difference.</p>
              </div>
            </div>
          </div>
          <!-- LEFT ICON -->
          <div class="col-md-4 mg-sm animatez delay one" data-effect="fadeInUp">
            <div class="left-icon">
              <div class="icon">
                <i class="fa fa-comments-o"></i>
              </div>
              <div class="left-content">
                <h4>
                  <strong>We Provide</strong>
                </h4>
                <p><span class="main-color">Artistic resources to hospitals</span> and their patients so these kids can express their ideas and passions, while they go through their treatments. Children are natural artists and show an exceptional talent when given the right guidance.</p>
              </div>
            </div>
          </div>
          <!-- LEFT ICON -->
          <div class="col-md-4 mg-sm animatez delay two" data-effect="fadeInUp">
            <div class="left-icon">
                <div class="icon">
                  <i class="fa fa-folder-open-o"></i>
                </div>
                <div class="left-content">
                  <h4>
                    <strong>Our Work</strong>
                  </h4>
                  <p>Our work includes providing art tutors to the hospitals and kids, <span class="main-color">Art Days</span> in the pediatric wards and the children’s museums and special <span class="main-color">Event Days</span> for kids who finished their treatments.</p>
                </div>
            </div>
          </div>
        </div>
        <!-- end row -->

        <!-- start row -->
        <div class="row">
          <!-- LEFT ICON -->
          <div class="col-md-4 mg-sm animatez" data-effect="fadeInUp">
            <div class="left-icon">
                <div class="icon">
                  <i class="fa fa-hdd-o"></i>
                </div>
                <div class="left-content">
                  <h4>
                    <strong>Commitment</strong>
                  </h4>
                  <p>
                    We are committed to helping children keep their spirits strong and never loose hope for their future. All art forms are empowering and we believe we can help the doctors and nurses help these kids.
                  </p>
                </div>
            </div>
          </div>
          <!-- LEFT ICON -->
          <div class="col-md-4 mg-sm animatez delay one" data-effect="fadeInUp">
            <div class="left-icon">
                <div class="icon">
                  <i class="fa fa-male"></i>
                </div>
                <div class="left-content">
                  <h4>
                    <strong>Resources</strong>
                  </h4>
                  <p>
                    Our artistic resources cover a​ll a​rt forms and we make them available to kids, parents, and hospitals, thanks to the help of our collaborative partners; a​rt schools, museums, dance companies, musicians, theatres, and more.
                  </p>
                </div>
            </div>
          </div>
          <!-- LEFT ICON -->
          <div class="col-md-4 mg-sm animatez delay two" data-effect="fadeInUp">
            <div class="left-icon">
              <div class="icon">
                <i class="fa fa-anchor"></i>
              </div>
              <div class="left-content">
                <h4>
                  <strong>Gratefulness</strong>
                </h4>
                <p>A Free Bird&trade; is so grateful for the support of all of its generous sponsors, in addition to everyone who attended the event and made it a smashing success.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
    </div>
    <div class="spacer big"></div>
    <!-- BEGIN SKILL -->
    <div class="section-fill bg-parallax bg-skill" style="background-image: url(images/bg-service.jpg);">
        <div class="fill-wrapper">
            <div class="section-title">
                <h2 class="white animatez" data-effect="fadeInDown">
                    <strong>SKILL</strong>
                </h2>
                <hr class="title-break">
            </div>
            <div class="container">
              <div class="row">
                  <div class="col-md-6">
                    <div class="skill-bar">
                      <ul>
                        <li>
                          <div class="bar" data-value="100">
                            <h5>Branding</h5>
                          </div>
                          <span>10 / 10</span>
                        </li>
                        <li>
                          <div class="bar" data-value="85">
                            <h5>Elegant</h5>
                          </div>
                          <span>8.5 / 10</span>
                        </li>
                        <li>
                          <div class="bar" data-value="92">
                            <h5>Quality</h5>
                          </div>
                          <span>9.2 / 10</span>
                        </li>
                        <li>
                          <div class="bar" data-value="81">
                            <h5>Creative</h5>
                          </div>
                          <span>8.1 / 10</span>
                        </li>
                        <!-- STATIC ( NOT ANIMATED) SKILL BAR
                        <li>
                            <div class="bar" style="width:100%;">
                                <h5>Branding</h5>
                            </div>
                            <span>10 / 10</span>
                        </li>
                        <li>
                            <div class="bar" style="width:85%;">
                                <h5>Elegant</h5>
                            </div>
                            <span>8.5 / 10</span>
                        </li>
                        <li>
                            <div class="bar" style="width:92%;">
                                <h5>Quality</h5>
                            </div>
                            <span>9.2 / 10</span>
                        </li>
                        <li>
                            <div class="bar" style="width:81%;">
                                <h5>Creative</h5>
                            </div>
                            <span>8.1 / 10</span>
                        </li>
                        -->
                      </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="skill-bar">
                        <ul>
                          <li>
                            <div class="bar" data-value="90">
                              <h5>Branding</h5>
                            </div>
                            <span>9 / 10</span>
                          </li>
                          <li>
                            <div class="bar" data-value="65">
                              <h5>Elegant</h5>
                            </div>
                            <span>6.5 / 10</span>
                          </li>
                          <li>
                            <div class="bar" data-value="92">
                              <h5>Quality</h5>
                            </div>
                            <span>9.2 / 10</span>
                          </li>
                          <li>
                            <div class="bar" data-value="100">
                              <h5>Creative</h5>
                            </div>
                            <span>10 / 10</span>
                          </li>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- END SKILL -->
  </div>
</section>
<!-- END SERVICES -->
