<!-- BEGIN SLIDER ONE -->
<div id="slides">
  <ul class="slides-container text-center">
    <li>
      <!-- Slide -->
      <img src='images/home-slide-3.jpg' alt="" class="fullscreen-image" />
      <div class="header-center fade-in">
        <h1>I AM
          <span>RINDU</span>&nbsp;KAMU
        </h1>
        <p>Ketika galau menyerang &amp; dan harapan telah mengambang</p>
        <p><a class="sscroll slider-more" href="#about"><i class="fa fa-angle-down"></i></a></p>
      </div>
    </li>
    <li>
      <!-- Slide -->
      <img src='images/home-slide-1.jpg' alt="" class="fullscreen-image">
      <div class="header-center fade-in">
        <h1>Get More
          <span>Extras</span>
        </h1>
        <p>Great play, extensive design &amp; buy the products</p>
        <p><a class="sscroll slider-more" href="#services"><i class="fa fa-angle-down"></i></a></p>
      </div>
    </li>
    <li>
      <!-- Slide -->
      <img src='images/home-slide-2.jpg' alt="" class="fullscreen-image" />
      <div class="header-center fade-in">
        <h1>Lots Of Features</h1>
        <p>Everyone Know That You Are The Special One, If you buy this</p>
        <p><a class="sscroll slider-more" href="#team"><i class="fa fa-angle-down"></i></a></p>
      </div>
    </li>
  </ul>
  <nav class="slides-navigation">
    <a href="javascript:;" class="prev"><i class="fa fa-angle-left"></i></a>
    <a href="javascript:;" class="next"><i class="fa fa-angle-right"></i></a>
  </nav>
</div>
<!-- END SLIDER ONE -->
