<!-- BEGIN TEAM -->
<section id="team">
  <div class="section-wrapper">
      <div class="section-title">
        <h2 class="title animatez" data-effect="fadeInDown">SOLID TEAM</h2>
        <h4 class="subtitle animatez" data-effect="fadeInUp">Natural selection
            <span class="main-color">is anything</span>&nbsp;but random</h4>
      </div>
      <hr class="title-break">
      <div class="section-inner section-team">
        <div class="container">
          <div class="row">
            <!-- PERSON -->
            <div class="col-md-4 mg-sm">
              <div class="teams animatez" data-effect="fadeInUp">
                <div class="pict">
                  <img src="images/people-1.jpg" alt="Team 1">
                </div>
                <div class="desc animatez" data-effect="fadeInUp">
                  <h4>
                      <strong>John Done</strong>
                  </h4>
                  <span>Executive Author</span>
                  <p>Known tiled but sorry joy balls. Sudden manner indeed fat now feebly. Face do with in need of wife paid that be.</p>
                  <div class="social">
                      <a href="javascript:;" class="animatez" data-effect="fadeInLeft"><i class="fa fa-facebook"></i></a>
                      <a href="javascript:;" class="animatez" data-effect="fadeInRight"><i class="fa fa-twitter"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /PERSON -->
            <!-- PERSON -->
            <div class="col-md-4 mg-sm">
                <div class="teams animatez delay two" data-effect="fadeInUp">
                  <div class="pict">
                    <img src="images/people-2.jpg" alt="Team 1">
                  </div>
                  <div class="desc animatez" data-effect="fadeInUp">
                    <h4>
                        <strong>John Done</strong>
                    </h4>
                    <span>Executive Author</span>
                    <p>Known tiled but sorry joy balls. Sudden manner indeed fat now feebly. Face do with in need of wife paid that be.</p>
                    <div class="social">
                      <a href="javascript:;" class="animatez" data-effect="fadeInLeft"><i class="fa fa-facebook"></i></a>
                      <a href="javascript:;" class="animatez" data-effect="fadeInRight"><i class="fa fa-twitter"></i></a>
                    </div>
                  </div>
                </div>
            </div>
            <!-- /PERSON -->
            <!-- PERSON -->
            <div class="col-md-4 mg-sm">
                <div class="teams animatez delay three" data-effect="fadeInUp">
                  <div class="pict">
                    <img src="images/people-3.jpg" alt="Team 1">
                  </div>
                  <div class="desc animatez" data-effect="fadeInUp">
                    <h4>
                      <strong>John Done</strong>
                    </h4>
                    <span>Executive Author</span>
                    <p>Known tiled but sorry joy balls. Sudden manner indeed fat now feebly. Face do with in need of wife paid that be.</p>
                    <div class="social">
                      <a href="javascript:;" class="animatez" data-effect="fadeInLeft"><i class="fa fa-facebook"></i></a>
                      <a href="javascript:;" class="animatez" data-effect="fadeInRight"><i class="fa fa-twitter"></i></a>
                    </div>
                  </div>
                </div>
            </div>
            <!-- /PERSON -->
          </div>
        </div>
      </div>
      <div class="spacer big"></div>
      <!-- BEGIN VIDEO -->
      <div class="section-fill">

          <div class="video-wrapper">
            <div class="bg-video" style="background:url('images/bg-video.jpg');"></div>
            <div class="video-overlay"></div>
            <div class="fill-wrapper">
              <div class="section-title">
                <h1 class="white animatez" data-effect="fadeInDown">
                  <strong>Video</strong>&nbsp;Profile
                </h1>
                <h3 class="subtitle white animatez" data-effect="fadeInUp">
                  Phasellus quis
                  <strong>lectus metus</strong>&nbsp;at posuere neque jused pharetra.
                </h3>
                <div class="spacer small"></div>
              </div>
              <div class="imac-wrapper animatez" data-effect="slideInDown">
                <a href="http://youtu.be/kNVhtJx-5VY" data-type="youtube" class="popup">
                  <img src="images/imac.png" alt="" />
                </a>
              </div>
            </div>
          </div>
      </div>
      <!-- END VIDEO -->
  </div>
</section>
<!-- END TEAM -->
