<!-- BACK TO TOP -->
<div class="totop" id="backtotop">
  <span>
    <a href="#home" class="first sscroll"><i class="fa fa-angle-up"></i></a>
    <a href="#home" class="hover sscroll"><i class="fa fa-angle-up"></i></a>
  </span>
</div>
<!-- END BACK TO TOP -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- EXPANDING THUMBNAIL JS -->
<script src="js/lib/grid.js"></script>

<!-- SUPER SLIDES JS -->
<script src="js/lib/jquery.superslides.min.js"></script>

<!-- JQUERY BACK TO TOP -->
<script src="js/lib/jquery.backtotop.js"></script>

<!-- JQUERY PARALLAX -->
<script src="js/lib/jquery.parallax.js"></script>

<!-- JQUERY BACKGROUND VIDEO -->
<script src="js/lib/jquery.backgroundvideo.js"></script>

<!-- JQUERY VENOBOX VIDEO -->
<script src="js/lib/venobox.min.js"></script>

<!-- JQUERY WAYPOINT -->
<script src="js/lib/waypoints.js"></script>

<!-- JQUERY WAYPOINT -->
<script src="js/lib/jquery.countTo.js"></script>

<!-- JQUERY SMOOTH SCROLL -->
<script src="js/lib/jquery.smooth-scroll.min.js"></script>

<!-- JQUERY FITVID -->
<script src="js/lib/jquery.fitvid.js"></script>

<!-- JQUERT SUDO SLIDER JS -->
<script src="js/lib/jquery.sudoslider.min.js"></script>


<!-- build:js({app,.tmp}) js/main.js -->
  <!-- MAIN JS -->
  <script src="js/main.js"></script>
<!-- endbuild -->



